<!DOCTYPE html>
<html lang="en">
<head>

     <title>smart-system | accueil</title>
<!--

DIGITAL TREND

https://templatemo.com/tm-538-digital-trend

-->
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" type="text/css" href="{{ asset('assets/front-office/css/bootstrap.min.css') }}">
     <link rel="stylesheet" type="text/css" href="{{ asset('assets/front-office/css/font-awesome.min.css') }}">
     <link rel="stylesheet" type="text/css" href="{{ asset('assets/front-office/css/aos.css') }}">
     <link rel="stylesheet" type="text/css" href="{{ asset('assets/front-office/css/owl.carousel.min.css') }}">
     <link rel="stylesheet" type="text/css" href="{{ asset('assets/front-office/css/owl.theme.default.min.css') }}">

     <!-- MAIN CSS -->
     <link rel="stylesheet" type="text/css" href="{{ asset('assets/front-office/css/templatemo-digital-trend.css') }}">

</head>
<body>

     <!-- MENU BAR -->
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="#">
              <i class="fa fa-line-chart"></i>
              SEA Concept
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="#about" class="nav-link smoothScroll">A Propos</a>
                    </li>
                    <li class="nav-item">
                        <a href="#project" class="nav-link smoothScroll">Services</a>
                    </li>
                    <li class="nav-item">
                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">
                         Connexion
                         </button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {# SIGNUP FORM #}
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <form class="login-form" method="post">
               <div class="modal-content">
               
                    <!-- Modal Header -->
                    <div class="modal-header bg-info text-white">
                        <h3 class="login-head"><i class="fa fa-lg fa-fw fa-user"></i>SIGN IN</h3>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
               
                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="login-box">
                                <div class="form-group">
                                    <label for="inputEmail" class="control-label">E-MAIL</label>
                                    <input class="form-control" type="email" placeholder="Email" name="email" id="inputEmail" autocomplete="email" required autofocus>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword" class="control-label">MOT DE PASSE</label>
                                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                                </div>
                                <div class="form-group">
                                    <input type="hidden" name="_csrf_token"
                                        value="{{ csrf_token('authenticate') }}"
                                    >
                                </div>
                        </div>
                    </div>
               
                    <!-- Modal footer -->
                    <div class="modal-footer">
                            <button type="submit" class="btn btn-info"><i class="fa fa-sign-in fa-lg fa-fw"></i>DEMARRER LA SESSION</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
                    </div>
               
               </div>
            </form>
        </div>
    </div>

     <!-- HERO -->
     <section class="hero hero-bg d-flex justify-content-center align-items-center">
               <div class="container">
               {% if error %}
                    <div class="alert alert-danger">Vos identifiants sont incorrectes !</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}
                    <div class="row">

                        <div class="col-lg-6 col-md-10 col-12 d-flex flex-column justify-content-center align-items-center">
                              <div class="hero-text">

                                   <h1 class="text-white" data-aos="fade-up">Nous sômmes prêts pour vos Marketing numériques</h1>

                                   <a href="#" class="custom-btn btn-bg btn mt-3" data-aos="fade-up" data-aos-delay="100">Restons en contact !</a>

                                   <strong class="d-block py-3 pl-5 text-white" data-aos="fade-up" data-aos-delay="200"><i class="fa fa-phone mr-2"></i> +261 349 837 613</strong>
                              </div>
                        </div>

                        <div class="col-lg-6 col-12">
                          <div class="hero-image" data-aos="fade-up" data-aos-delay="300">

                            <img src="{{ asset('assets/front-office/images/nasser.png') }}" class="img-fluid" alt="working girl">
                          </div>
                        </div>

                    </div>
               </div>
     </section>


     <!-- ABOUT -->
     <section class="about section-padding pb-0" id="about">
          <div class="container">
               <div class="row">

                    <div class="col-lg-7 mx-auto col-md-10 col-12">
                         <div class="about-info">

                              <h2 class="mb-4" data-aos="fade-up">Le meilleur <strong>système de marketing digital</strong> en Afrique</h2>

                              <p class="mb-0" data-aos="fade-up">Deux pages des captures déja inclus, prêts à l'emploi. Programmer des campagnes. Commencer à envoyer des étapes à des contacts 
                              <br><br>Vous êtes <strong>disposés</strong> d'un système complet pour faire fonctionner une activité. Vous n'avez pas besoin d'autres outils à part.</p>
                         </div>

                         <div class="about-image" data-aos="fade-up" data-aos-delay="200">

                          <img src="{{ asset('assets/front-office/images/office.png') }}" class="img-fluid" alt="office">
                        </div>
                    </div>

               </div>
          </div>
     </section>


     <!-- PROJECT -->
     <section class="project section-padding" id="project">
          <div class="container-fluid">
               <div class="row">

                    <div class="col-lg-12 col-12">

                        <h2 class="mb-5 text-center" data-aos="fade-up">
                            Faites le choix de la performance avec
                            <strong>le future système de marketing digital</strong>
                        </h2>
                    </div>

               </div>
          </div>
     </section>


     <!-- TESTIMONIAL -->
     <section class="testimonial section-padding">
          <div class="container">
               <div class="row">

                    <div class="col-lg-6 col-md-5 col-12">
                        <div class="contact-image" data-aos="fade-up">

                          <img style="border-radius:50%" src="{{ asset('assets/front-office/images/profil.png') }}" class="img-fluid" alt="website">
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-7 col-12">
                      <h4 class="my-5 pt-3" data-aos="fade-up" data-aos-delay="100">A propos de l'auteur</h4>

                      <div class="quote" data-aos="fade-up" data-aos-delay="200"></div>

                      <h5 class="mb-4" data-aos="fade-up" data-aos-delay="300">
                         Je me nomme Nassim Nasser, étudiant en Master d'Ingénierie en système electronique et Informatique à l'université d'Antananarivo.
                         <strong>Maigre n'est-ce pas ?</strong>
                      </h5>

                      <p data-aos="fade-up" data-aos-delay="400">
                        <strong>Nassim Nasser</strong>

                        <span class="mx-1">/</span>

                        <small>Developpeur web</small>
                      </p>
                    </div>

               </div>
          </div>
     </section>


    <footer class="site-footer">
      <div class="container">
        <div class="row">

          <div class="col-lg-5 mx-lg-auto col-md-8 col-10">
            <h1 class="text-white" data-aos="fade-up" data-aos-delay="100">Nous disposons des <strong>multiples</strong> services.</h1>
          </div>

          <div class="col-lg-3 col-md-6 col-12" data-aos="fade-up" data-aos-delay="200">
            <h4 class="my-4">Contact Info</h4>

            <p class="mb-1">
              <i class="fa fa-phone mr-2 footer-icon"></i> 
              +261 349 837 613
            </p>

            <p>
              <a href="#">
                <i class="fa fa-envelope mr-2 footer-icon"></i>
                bonjour@smart-system.com
              </a>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 col-12" data-aos="fade-up" data-aos-delay="300">
            <h4 class="my-4">Notre adresse</h4>

            <p class="mb-1">
              <i class="fa fa-home mr-2 footer-icon"></i> 
              Bis. Ampasampito - 101, Antananarivo
            </p>
          </div>

          <div class="col-lg-4 mx-lg-auto text-center col-md-8 col-12" data-aos="fade-up" data-aos-delay="400">
            <p class="copyright-text">Copyright &copy; 2022 Smarth-system
            <br>
          </div>


          <div class="col-lg-3 mx-lg-auto col-md-6 col-12" data-aos="fade-up" data-aos-delay="600">
            <ul class="social-icon">
              <li><a href="#" class="fa fa-instagram"></a></li>
              <li><a href="#" class="fa fa-twitter"></a></li>
              <li><a href="#" class="fa fa-dribbble"></a></li>
              <li><a href="#" class="fa fa-behance"></a></li>
            </ul>
          </div>

        </div>
      </div>
    </footer>


     <!-- SCRIPTS -->
     <script src="{{ asset('assets/front-office/js/jquery.min.js') }}"></script>
     <script src="{{ asset('assets/front-office/js/bootstrap.min.js') }}"></script>
     <script src="{{ asset('assets/front-office/js/aos.js') }}"></script>
     <script src="{{ asset('assets/front-office/js/owl.carousel.min.js') }}"></script>
     <script src="{{ asset('assets/front-office/js/smoothscroll.js') }}"></script>
     <script src="{{ asset('assets/front-office/js/custom.js') }}"></script>

</body>
</html>